
.grid-item {
  width: 600px;
}

.container-fluid{
  position: relative;
  left: 36px;
}

.footer{
  position: relative;
  bottom: 100px;
  height: 50px;
  width: 1200px;
}

.grid-item > h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #FF4E4E;
}
